.header_row {background-color: #004982;}

th span {color:#fff;}

table tbody tr td {background-color: #e5ecf2}

.desde_hacia {padding: 0 3px 0 3px;}

.contentList {style="margin-left: 26px; margin-right: 26px;"}